
@model IEnumerable<project74.Models.category>

@{
    ViewBag.Title = "vendors";
}

<div id="#top"></div>
<section id="home">
    <div class="banner-container">
        <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
                <li>
                    <img src="/Content/images/slides/1.jpg" alt="" />
                    <div class="flex-caption container">
                        <h3>we will plan <br> the wedding of your Dreams</h3>

                    </div>
                </li>
                <li>
                    <img src="/Content/images/slides/2.jpg" alt="" />
                    <div class="flex-caption container">
                        <h3>
                            we will plan
                            <br> the wedding of your Dreams
                        </h3>


                    </div>
                </li>
            </ul>
        </div>
        <!-- end slider -->
    </div>
</section>

<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-lg-3 col-md-3 ">
            <h2 class="mt-5" style="font-size:30px">Categories</h2>
            <ul>

                @foreach (var item in Model)
                {
                    <li><a href="#" id="@item.cat_id" class="scroll-link" onclick="load(@item.cat_id)" style="font-family: 'Dancing Script', cursive; font-size: 20px;">@item.cat_name</a></li>
                }


            </ul>
        </div>

        <div class="col-md-8" id="d1">

        </div>
    </div>
</div>
@section scripts{
    <script>

       $("#d1").load("/Home/catdet/@ViewBag.cat");

        //$("#4").css ("font-weight", "bold")
        function load(id) {
            $("#d1").load("/Home/catdet/" + id);
        }



    </script>
}
